html, body {margin: 0; height: 100%; overflow: hidden; text-align: center;}

h1 {
  color: #026076;
  text-align: center;
}

h2 {
  color: #242872;
  text-align: center;
}

p {
  line-height: 1.5em;
}

a {
  color: dodgerblue;
}

b {
  color: #242872;
  }

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 1200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 150px solid #242872;
  z-index: -25;
  position: absolute;
}

.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 1800px solid transparent;
  border-right: 100px solid transparent;
  border-left: 200px solid #189ce9;
  z-index: -50;
  position: absolute;
}

#div_g {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.Container {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 0.5rem;
}

.Grid__Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.Stat__Card {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}

.Stat__Container {
  display: flex;
  flex-direction: column;
}

.Stat__Title {
  color: #6c757d;
}

.Stat__Content {
  font-size: 32px;
  font-weight: 700;
  color: #242872;
}

#temp_cnt {
  color: green;
}


@media (min-width: 768px) {
  .Grid__Container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
  }
}

#recButton {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

#rec-stat {
  font-size: 32px;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}